.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.layout__main {
  height: 100%;
  width: 100%;
  padding: 15px 100px;
}

.navigation {
  padding: 5px 100px;
}

.nav-link a {
  text-decoration: none;
  color: black;
}

.page__heading {
  font-size: 25px;
}

.table-tr {
  cursor: pointer;
}

.table-tr:hover {
  background-color: #84919c !important;
  transition: background-color 0.2s ease-out;
}

.spacer {
  margin-top: 25px;
}

.loading {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
}
